Babel==2.12.1
Babel==2.8.0
Brlapi==0.8.3
Brotli==1.0.9
CProfileV==1.0.7
CacheControl==0.12.10
CacheControl==0.12.11
DBNets==1.0.0
Deprecated==1.2.13
EditorConfig==0.12.3
Flask-Caching==2.0.2
Flask==2.2.2
GitPython==3.1.43
Jinja2==3.0.3
Keras-Preprocessing==1.1.2
Mako==1.3.5
Markdown==3.4.1
MarkupSafe==2.0.1
MarkupSafe==2.1.1
Pillow==9.0.1
Pint==0.24.3
PyGObject==3.42.1
PyJWT==2.3.0
PyNaCl==1.5.0
PyQt5-sip==12.9.1
PyQt5==5.15.6
PySimpleGUI==4.60.4
PyWavelets==1.4.1
PyYAML==5.4.1
PyYAML==6.0.2
Pygments==2.11.2
Pygments==2.15.1
SQLAlchemy==2.0.35
SecretStorage==3.3.1
Send2Trash==1.8.1b0
Werkzeug==2.2.2
absl-py==1.2.0
alembic==1.13.3
alminer==0.1.3
annotated-types==0.7.0
ansi2html==1.8.0
anyconfig==0.13.0
anyio==3.6.2
appdirs==1.4.4
argon2-cffi==21.1.0
array_record==0.5.1
arrow==1.2.3
arviz==0.18.0
astropy==5.1.1
astroquery==0.4.7
astunparse==1.6.3
async-lru==2.0.4
attrs==21.2.0
attrs==23.1.0
autograd==1.7.0
autopep8==2.0.2
backcall==0.2.0
bcc==0.18.0
bcrypt==4.2.1
beautifulsoup4==4.10.0
beniget==0.4.1
black==23.7.0
bleach==4.1.0
blinker==1.4
boto3==1.26.9
botocore==1.29.9
bottle==0.12.25
cachelib==0.9.0
cachetools==5.2.0
cachy==0.3.0
casa-formats-io==0.2.1
category-encoders==2.6.3
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
charset-normalizer==3.2.0
chex==0.1.86
chrome-gnome-shell==0.0.0
cleo==0.8.1
click==8.0.3
click==8.1.6
clikit==0.6.2
cloudpickle==2.2.1
cmake==3.27.5
cmasher==1.7.2
colorama==0.4.4
coloredlogs==15.0.1
colorlog==6.8.2
colorlover==0.3.0
colorspacious==1.1.2
comm==0.1.4
command-not-found==0.3
cons==0.4.6
contourpy==1.2.0
corner==2.2.2
crashtest==0.3.1
cryptography==3.4.8
cupshelpers==1.0
cv==1.0.0
cycler==0.11.0
dash-bootstrap-components==1.2.1
dash-bootstrap-templates==1.0.7
dash-core-components==2.0.0
dash-daq==0.5.0
dash-extensions==1.0.4
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.14.0
dask==2023.5.0
dataclass-wizard==0.22.2
dbus-python==1.2.18
debugpy==1.6.4
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dill==0.3.8
discminer==0.2.46
diskcache==5.6.3
distlib==0.3.4
distro==1.7.0
dlib==19.16.0
dm-haiku==0.0.12
dm-tree==0.1.8
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
dpath==2.1.6
dsh==2.2.1
dsharp-opac==1.1.6
einops==0.8.0
emcee==3.1.4
entrypoints==0.4
etils==1.7.0
etuples==0.3.9
exceptiongroup==1.2.2
fastjsonschema==2.16.2
fil-finder==1.7.2
filelock==3.6.0
flatbuffers==23.5.26
flax==0.8.4
flexcache==0.3
flexparser==0.3.1
font-source-sans-pro==0.0.1
fonttools==4.29.1
fqdn==1.5.1
fs==2.4.12
fsspec==2023.5.0
future==0.18.2
future==0.18.2
gast==0.4.0
gast==0.5.2
gitdb==4.0.11
google-auth-oauthlib==1.0.0
google-auth==2.22.0
google-pasta==0.2.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.49.1
gunicorn==21.2.0
h5netcdf==1.3.0
h5py==3.7.0
hidpidaemon==18.04.6
holidays==0.56
html5lib==1.1
httplib2==0.20.2
huggingface-hub==0.23.3
humanfriendly==10.0
idna==3.3
imageio==2.22.1
immutabledict==4.2.0
importlib-metadata==4.6.4
importlib-metadata==6.6.0
importlib_resources==6.4.0
iniconfig==2.0.0
innvestigate==2.0.1
ipykernel==6.7.0
ipympl==0.9.3
ipython==7.31.1
ipython_genutils==0.2.0
ipywidgets==6.0.0
ipywidgets==8.1.0
isoduration==20.11.0
itsdangerous==2.1.2
ivy==0.0.9.1
jax==0.4.29
jaxlib==0.4.29
jedi==0.18.0
jeepney==0.7.1
jmespath==1.0.1
jmp==0.0.4
joblib==1.2.0
jsbeautifier==1.14.11
json5==0.9.10
jsonpickle==3.2.1
jsonpointer==2.4
jsonschema-specifications==2023.7.1
jsonschema==3.2.0
jsonschema==4.18.6
junos-eznc==2.7.2
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.3.0
jupyter_core==5.3.1
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.8
jupyterlab==4.0.3
jupyterlab_server==2.24.0
kagglehub==0.2.8
keras-core==0.1.7
keras-cv==0.9.0
keras==2.11.0
keras==2.13.1
kernelstub==3.1.4
keyring==23.5.0
kiwisolver==1.3.2
language-selector==0.1
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==14.0.6
lightgbm==4.5.0
linmix==0.1.0.dev1
lit==16.0.6
llvmlite==0.42.0
locket==1.0.0
lockfile==0.12.2
logical-unification==0.4.6
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
markdown-it-py==2.2.0
matplotlib-inline==0.1.3
matplotlib-venn==0.11.9
matplotlib==3.5.1
matplotlib==3.9.2
mdurl==0.1.2
miniKanren==1.0.3
mistune==2.0.4
ml-dtypes==0.4.0
mlxtend==0.23.1
more-itertools==8.10.0
more-itertools==9.1.0
mpmath==0.0.0
msgpack==1.0.3
msgpack==1.0.4
multipledispatch==1.0.0
mypy-extensions==1.0.0
namex==0.0.8
napalm==5.0.0
nbclassic==0.4.8
nbclient==0.5.6
nbconvert==6.4.0
nbconvert==7.2.5
nbformat==5.1.3
nbformat==5.7.0
ncclient==0.6.15
nest-asyncio==1.5.4
netaddr==0.8.0
netifaces==0.11.0
netmiko==4.5.0
netutils==1.11.0
networkx==2.8.8
nflows==0.14
nornir-netmiko==1.0.1
nornir-utils==0.2.0
nornir==3.4.1
nornir_napalm==0.5.0
notebook==6.4.8
notebook_shim==0.2.2
ntc_templates==7.5.0
numba==0.59.1
numpy==1.21.5
numpy==1.23.3
numpy==1.26.4
numpyro==0.15.0
nuts==3.4.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-ml-py==12.555.43
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.0
olefile==0.46
onnx==1.16.1
onnxruntime==1.18.0
onnxscript==0.1.0.dev20240605
opencv-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
optax==0.2.2
optuna-integration==4.0.0
optuna==4.0.0
orbax-checkpoint==0.5.16
overrides==7.3.1
packaging==21.3
packaging==23.1
pandas==2.2.2
pandocfilters==1.5.0
paramiko==3.5.0
parso==0.8.1
partd==1.4.0
pastel==0.2.1
pathspec==0.11.2
patsy==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
pip==22.0.2
pip==22.2.2
pip==24.0
pipreqs==0.4.13
pkginfo==1.8.2
platformdirs==2.5.1
platformdirs==3.10.0
plotly==5.11.0
pluggy==1.5.0
ply==3.11
poetry-core==1.0.7
poetry==1.1.12
pop-transition==1.1.2
progressbar==2.5
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.28
protobuf==3.12.4
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
py==1.10.0
pyDOE2==1.3.0
pyRFC3339==1.1
pyarrow==17.0.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.20.1
pycodestyle==2.11.0
pycparser==2.22
pycups==2.0.1
pydantic==2.8.2
pydantic_core==2.20.1
pydbus==0.6.0
pyeapi==1.0.4
pyerfa==2.0.0.1
pyknos==0.15.2
pylev==1.2.0
pymacaroons==0.13.0
pymc==5.15.1
pymcfost==0.1.1
pyparsing==2.4.7
pyregion==2.2.0
pyro-api==0.1.2
pyro-ppl==1.9.1
pyrsistent==0.18.1
pyserial==3.5
pytensor==2.22.1
pytest==7.4.4
python-apt==2.4.0+ubuntu2
python-casacore==3.4.0
python-dateutil==2.8.1
python-dateutil==2.9.0
python-debian==0.1.43+ubuntu1.1
python-gnupg==0.4.8
python-json-logger==2.0.7
python-xlib==0.29
pythran==0.10.0
pytorch2jax==0.1.0
pytz==2022.1
pyvis==0.3.2
pyvo==1.2.1
pyxdg==0.27
pyzmq==22.3.0
pyzmq==25.1.0
radio-beam==0.3.4
referencing==0.30.0
regex==2024.5.15
regions==0.7
repolib==2.2.1
repoman==1.4.0
reportlab==3.6.8
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
requests==2.25.1
requests==2.31.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.9.2
rsa==4.9
ruamel.yaml.clib==0.2.12
ruamel.yaml==0.18.10
s3transfer==0.6.0
safetensors==0.4.3
sbi==0.22.0
scikit-image==0.19.3
scikit-learn==1.5.1
scipy==1.13.0
scipy==1.8.0
scp==0.15.0
seaborn==0.13.2
sentry-sdk==2.1.1
sessioninstaller==0.0.0
setproctitle==1.3.3
setuptools==59.6.0
setuptools==70.0.0
shellingham==1.4.0
simple_parsing==0.1.5
six==1.16.0
sklearn==0.0
smmap==5.0.1
smt==1.3.0
snakeviz==2.2.0
sniffio==1.3.0
soupsieve==2.3.1
spectral-cube==0.6.0
statsmodels==0.14.4
stravalib==2.0
style==1.1.0
sympy==1.9
systemd-python==234
tabulate==0.9.0
tarp==0.1.1
tenacity==8.1.0
tensorboard-data-server==0.7.1
tensorboard-plugin-wit==1.8.1
tensorboard==2.13.0
tensorflow-datasets==4.9.6
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.27.0
tensorflow-metadata==1.15.0
tensorflow==2.13.0
tensorstore==0.1.61
termcolor==2.0.1
terminado==0.13.1
termplotlib==0.3.9
termtables==0.2.4
testpath==0.5.0
textfsm==1.1.3
tf-keras-vis==0.8.2
threadpoolctl==3.1.0
tifffile==2022.10.10
tinycss2==1.2.1
tokenizers==0.19.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.9.2
toolz==0.12.0
torch-tb-profiler==0.4.3
torch2jax==0.0.1
torch==2.0.1
torchvision==0.15.2
tornado==6.1
tornado==6.3.2
tqdm==4.64.1
traitlets==5.1.1
traitlets==5.9.0
transformers==4.41.2
transitions==0.9.2
triton==2.0.0
ttp-templates==0.3.7
ttp==0.9.5
typing_extensions==4.12.2
tzdata==2024.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unicodedata2==14.0.0
update==0.0.1
uri-template==1.3.0
urllib3==1.26.18
urllib3==1.26.5
usb-creator==0.3.7
vboxapi==1.0
verstack==4.1.3
virtualenv==20.13.0+ds
wadllib==1.3.6
wakeflow==1.4.0
wandb==0.17.0
wcwidth==0.2.5
webcolors==1.13
webencodings==0.5.1
websocket-client==1.4.2
wheel==0.37.1
widgetsnbextension==2.0.0
widgetsnbextension==4.0.8
wrapt==1.14.1
xarray-einstats==0.7.0
xarray==2024.5.0
xdg==5
xkit==0.0.0
yamlordereddictloader==0.4.2
yarg==0.1.9
zipp==1.0.0